{% extends '../base.html' %} {% load static %} {% block content %}

<div class="w3-container">
  <h2>Comenzar una nuevo proyecto de revision</h2>
  <form action="/revisiones/comenzar_revision" method="post">
    {% csrf_token %}

    <div id="MetaInformacion" class="w3-container city">
      <p>
        <label for="id_titulo">Titulo de la revision:</label>
        {{ revision_form.titulo }}
      </p>
      <p>
        <label for="id_meta_de_necesidad_de_informacion"
          >Meta de necesidad de informacion:</label
        >
        {{ revision_form.meta_de_necesidad_de_informacion }}
      </p>
      <p>
        <label for="id_investigadores">Investigadores participantes:</label>
        {{ revision_form.investigadores }}
      </p>
    </div>
    <input class="w3-hover-green w3-margin-top" type="submit" value="Guardar" />
  </form>
</div>

<script src="{% static 'revisiones/js/nueva_revision.js' %}"></script>
{% endblock %}
