{% extends '../base.html' %}
{% load static %}

{% block content %}   

<button class="w3-button w3-card w3-light-grey" onclick="document.getElementById('modal-localizacion').style.display='block'" style="position:fixed;right: 0;bottom: 75%"> <i class='fas fa-map-marked-alt w3-xxlarge'></i></button>
<button class="w3-button w3-card w3-light-grey" style="position:fixed;right: 0;bottom: 68%"> <i class='fas fa-edit w3-xxlarge'></i></button>
<div class="w3-container">
  <h2>Diseñar la revision - {{ revision.titulo }}</h2>
  <hr>
  <div class="w3-row">
  <div class="w3-col" style="width:220px">
    <div class="w3-bar-block w3-light-grey w3-card">
      <button class="w3-bar-item w3-button w3-rightbar tablink w3-padding-48" onclick="ControladorTab(event,'Preguntas');" id="esp_preg"><i class='Task'></i><p style='vertical-align: bottom; display: inline;'>Especificar preguntas de investigacion</p></button>
      <button class="w3-bar-item w3-button w3-rightbar tablink w3-padding-48" onclick="ControladorTab(event,'protocolo');" id="div_proto"><i class='WorkDefinition'></i><p style='vertical-align: bottom; display: inline;'>Diseñar protocolo de Busqueda</p></button>
      <button class="w3-bar-item w3-button w3-rightbar tablink w3-padding-48" onclick="ControladorTab(event,'Criterios');" id="div_cri"><i class='WorkDefinition'></i><p style='vertical-align: bottom; display: inline;'>Definir criterios de seleccion y calidad</p></button>
      <button class="w3-bar-item w3-button w3-rightbar tablink w3-padding-48" onclick="ControladorTab(event,'Formulario');" id="div_for"><i class='WorkDefinition'></i><p style='vertical-align: bottom; display: inline;'>Formulario de Extraccion de datos</p></button>
      <button class="w3-bar-item w3-button w3-rightbar tablink w3-padding-48" onclick="ControladorTab(event,'Validacion');" id="div_val" disabled><i class='WorkDefinition'></i><p style='vertical-align: bottom; display: inline;'>Validacion</p></button>
      <button class="w3-bar-item w3-button w3-rightbar tablink w3-padding-48" onclick="ControladorTab(event,'Validacion');" id="" disabled><i class='WorkDefinition'></i><p style='vertical-align: bottom; display: inline;'>Mejorar el diseño de la revision</p></button>
    </div>
  </div>
  <div class="w3-rest">
     <div class="w3-panel w3-margin-left">
      <p><i class='WorkProductUse'></i><b class="icon-right-text"> Meta de necesidad de informacion:</b></p>
      <p class="w3-margin-left"> {{ revision.meta_de_necesidad_de_informacion }} </p>
     </div>

    <div class="w3-panel w3-margin-left entrada w3-animate-left" id='div_preguntas' style="display:none">
      <p><i class='WorkProductUse'></i><b class="icon-right-text">Preguntas de Investigacion:</b></p>
      <div>
        <ul id ="lista_preguntas"></ul>
      </div>
    </div>
    
    <div class="w3-panel w3-margin-left entrada w3-animate-left w3-row" id='div_protocolo_busqueda' >
      <p><i class='WorkProductUse'></i><b class="icon-right-text">Protocolo de busqueda:</b></p>
      <div class="w3-container w3-third">
        <p><b>Cadena de Busqueda:</b></p>
        <div id="insertar_cadena">
        </div>
      </div>
      <div class="w3-container w3-third">
        <p> <b>Metadatos:</b></p>
        <div>
          <ul id="insertar_metadatos"></ul>
        </div>
      </div>
      <div class="w3-container w3-third">
        <p> <b>Bibliotecas a utilizar:</b></p>
        <div>
          <ul id="insertar_bibliotecas"></ul>
        </div>
      </div>
    </div>

    
      <div class="w3-panel w3-margin-left entrada w3-animate-left"id="div_criterios_seleccion" style="display:none"> 
        <p><i class='WorkProductUse'></i><b class="icon-right-text">Criterios:</b></p>
        <ul>
          <li><p><i class='WorkProductUse'></i><b class="icon-right-text">Criterios de seleccion:</b></p>
          <ul>
            <li><p><i class='WorkProductUse'></i><b class="icon-right-text">Criterios de inclusion:</b></p>
              <ul id ="lista_criterios_inclusion"></ul>
            </li>
            <li><p><i class='WorkProductUse'></i><b class="icon-right-text">Criterios de exclusion:</b></p>
              <ul id ="lista_criterios_exclusion"></ul>
            </li>
          </ul>
          </li>  
         </ul>
      </div>
      <div class="w3-panel w3-margin-left entrada w3-animate-left" id="div_criterios_calidad" style="display:none">
        <p><i class='WorkProductUse'></i><b class="icon-right-text">Criterios de calidad:</b></p>
        <ul id ="lista_criterios_calidad"></ul>
        
      </div>
     
      
  
    <hr>

  <form action="/revisiones/nueva_revision" method="post">
      {% csrf_token %}
      <div id="Preguntas" class="w3-container city w3-animate-left" style="display:none">
        
        <div class="w3-panel w3-pale-red w3-border" style="display:none" id="notificacion-preguntas">
          <p>Usted debe especificar las preguntas de investigacion.</p>
        </div>

        <h4>Preguntas de investigacion</h4>
        <input type="hidden" name="preguntas-TOTAL_FORMS" id="id_preguntas-TOTAL_FORMS">  
        <div class="w3-row " id="preguntas_formset">
          <div id="nuevas_preguntas">
            {% for pregunta in preguntas %}
            <div>
                <div class="w3-col w3-margin-bottom" style="width:94%">
                  <input type="text" name="pregunta-{{ forloop.counter }}" maxlength="150" id="pregunta-{{ forloop.counter }}" class="w3-input w3-border w3-round" value="{{pregunta.pregunta}}">
                </div>
                <div class="w3-col" style="width:6%">
                  <button type="button" onclick='borrarPregunta(event);' class="w3-button w3-circle w3-red w3-right remove">-</button>
                </div>
            </div>
            {% endfor %}
          </div>
          <div class="w3-col w3-margin-bottom" style="width:94%">
            <input type="text" name="pregunta-0" maxlength="150" id="pregunta-0" class="w3-input w3-border w3-round">
          </div>
          <div class="w3-col" style="width:6%">
            <button type="button" onclick='nuevaPregunta(event);' class="w3-button w3-circle w3-green w3-right" id="add">+</button>
          </div>
        </div>
        <div class="w3-bar">
          <button onclick="ControladorTab(event,'protocolo');" class="w3-button w3-right w3-green" id="sig_preg">Siguiente &raquo;</button>
        </div>
      </div>

      <div id="protocolo" class="w3-container city w3-animate-left" style="display:none">
        <div class="w3-panel w3-pale-red w3-border" style="display:none" id="notificacion-protocolo">
          <p>Usted debe completar el campo de cadena de busqueda, seleccionar almenos un metadatos y una biblioteca virtual.</p>
        </div>
        <h4>Protocolo de busqueda</h4>
          <p>
            <label for="id_cadena_de_busqueda">Cadena de busqueda:</label>
            {{ revision_form.cadena_de_busqueda }}
          </p>
          {% for metadato in metadatos%}
            <script>
              $(document).ready(function () {
                seleccionarValor("id_metadatos","{{metadato.pk}}");

              });
            </script>
          {% endfor %}

          <p>
            
            {{ revision_form.metadatos }}
          </p>

          {% for biblioteca in bibliotecas%}
            <script>
              $(document).ready(function () {
                seleccionarValor("id_bibliotecas","{{biblioteca.pk}}");
              });
            </script>
          {% endfor %}
          <p>
            
            {{ revision_form.bibliotecas }}
          </p>
          <div class="w3-bar">
            <button onclick="ControladorTab(event,'Preguntas');" class="w3-button w3-left w3-light-grey">&laquo; Anterior</button>
            <button onclick="ControladorTab(event,'Criterios');" class="w3-button w3-right w3-green">Siguiente &raquo;</button>
          </div>
      </div>

      <div id="Criterios" class="w3-container city w3-animate-left" style="display:none">
        <div class="w3-panel w3-pale-red w3-border" style="display:none" id="notificacion-criterios">
          <p>Usted debe especificar los criterios de seleccion y de calidad.</p>
        </div>   
        <h4>Incluir criterio:</h4>
        <input type="hidden" name="criterios-TOTAL_FORMS" id="id_criterios-TOTAL_FORMS">
        <div class="w3-container w3-margin-bottom"> 
          <div id="nuevos_criterios" style="display:none">
            {% for criterio in criterios %}
              <input type="hidden" name="id_criterio-{{ forloop.counter }}-descripcion" id="id_criterio-{{ forloop.counter }}-descripcion" value="{{criterio.descripcion}}">
              <input type="hidden" name="id_criterio-{{ forloop.counter }}-tipo" id="id_criterio-{{ forloop.counter }}-tipo" value="{{criterio.tipo}}">
            {% endfor %}
          </div>
          <div id="criterio_empty_form">
            <label for="id_criterio-__prefix__-tipo">Tipo:</label>
            <select name="criterio-__prefix__-tipo" id="id_criterio-__prefix__-tipo" class="w3-select w3-border">
              <option value="IN">inclusion</option>
              <option value="EX">exclusion</option>
              <option value="CA">calidad</option>
            </select>
            <label for="id_criterios-__prefix__-descripcion">Descripcion:</label>
            <input type="text" name="criterio-__prefix__-descripcion" maxlength="200" id="id_criterio-__prefix__-descripcion" class="w3-input w3-border w3-round">
            <input type="hidden" name="criterios-__prefix__-id" id="id_criterios-__prefix__-id" class="w3-input w3-border w3-round">
          </div>
          <button type="button" class="w3-button w3-hover-green w3-right w3-margin-top w3-grey" id="insertar_criterio">Insertar criterio</button>
        </div>
        <h4>Criterios</h4>
        <div class="w3-container w3-margin-bottom">
            <table class="w3-table w3-striped w3-border" id="tabla_criterios">
            <thead>
            <tr>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="body_criterios">
              {% for criterio in criterios %}

                <tr><td>{{criterio.descripcion}}</td><td>{{criterio.tipo}}</td><td id="id_criterio-{{ forloop.counter }}-"><i class="fa fa-remove borrar-linea"></i></td></tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
          <div class="w3-bar">
          <button onclick="ControladorTab(event,'protocolo')" class="w3-button w3-left w3-light-grey">&laquo; Anterior</button>
          <button onclick="ControladorTab(event,'Formulario');" class="w3-button w3-right w3-green">Siguiente &raquo;</button>
          </div>
          <input class="w3-hover-green w3-margin-top" type="submit" value="Guardar">
      </div>

      <div id="Formulario" class="w3-container city w3-animate-left" style="display:none">
        <div class="w3-panel w3-pale-green w3-border" style="display:none" id="notificacion-formulario">
          <p>Formulario de extracción creado con éxito.</p>
        </div>
        <h4>Administrar Campos del formulario:</h4>
        <input type="hidden" name="campos_form-TOTAL_FORMS" value="3" id="id_campos_form-TOTAL_FORMS">
          <div class="w3-container w3-margin-bottom"> 
            <div id="nuevos_campos_form" style="display:none"></div>
            <div id="campos_form_empty_form">
              <label for="id_campos_form-__prefix__-campo">Nuevo campo:</label>
              <input type="text" name="campo_form-__prefix__-descripcion" maxlength="200" id="id_campo_form-__prefix__-descripcion" class="w3-input w3-border w3-round">
              <input type="hidden" name="campos_form-__prefix__-id" id="id_campos_form-__prefix__-id">
            </div>
            <button type="button" class="w3-button w3-hover-green w3-right w3-margin-top w3-grey" id="insertar_campo">añadir campo</button>
          </div>
          
        <h4>Esquema del nuevo formulario:</h4>
        <div class="w3-container w3-margin-bottom">
            <table class="w3-table w3-striped w3-border" id="tabla_campos_form">
            <thead>
            <tr>
                <th>Campos</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tabla_campos_form">
              <tr class="w3-border-top">
                <td >Nombre del investigador</td>
                <td > </td>
              </tr>
              <tr class="w3-border-top">
                <td>PID - Titulo del articulo</td>
                <td></td>
              </tr>
              <tr class="w3-border-top">
                <td>Autores del articulo</td>
                <td></td>
              </tr>
            </tbody>
            </table>
            <input type="hidden" name="id_revison" id="id_revision" value={{ revision.id }}>
            <button type="button" class="w3-button w3-block w3-black w3-margin-top" id="generar_formulario"><i class='WorkProductUse'></i><b class="icon-right-text">Generar formulario</b></button>
        </div>
        <div class="w3-bar">
          <button onclick="ControladorTab(event,'Criterios');" class="w3-button w3-left w3-light-grey">&laquo; Anterior</button>
          <button onclick="ControladorTab(event,'Validacion');" class="w3-button w3-right w3-green">Siguiente &raquo;</button>
        </div>

      </div>

      <div id="Validacion" class="w3-container city w3-animate-left" style="display:none">
          
      </div>

    </form>
  </div>
  </div>  

</div>

<div id="empty_form" style="display:none">
  <div>
  <div class="w3-col w3-margin-bottom" style="width:94%">
        <input type="text" name="pregunta-__prefix__" maxlength="150" id="pregunta-__prefix__" class="w3-input w3-border w3-round">
  </div>
  <div class="w3-col" style="width:6%">
        <button type="button" onclick='borrarPregunta(event);' class="w3-button w3-circle w3-red w3-right remove">-</button>
  </div>
  </div>
</div>

<div id="modal-localizacion" class="w3-modal">
    <div class="w3-modal-content w3-animate-right">
        <header class="w3-container w3-black w3-xlarge w3-center"> 
        <span onclick="document.getElementById('modal-localizacion').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>¿Donde Estoy?</h2>
      </header>
      <div class="w3-container">
        <p>Some text. Some text. Some text.</p>
        <p>Some text. Some text. Some text.</p>
      </div>
    </div>
  </div>

<script src="{% static 'revisiones/js/nueva_revision.js' %}"></script>

<script>
  $(document).ready(function () {

    $("#id_metadatos").multiSelect({
      selectableHeader: "<div class='custom-header' style='display: block-inline'>Metadatos seleccionables</div>",
      selectionHeader: "<div class='custom-header'>Metadatos seleccionados</div>"
    });

    //$("#id_bibliotecas").multiSelect({
      //selectableHeader: "<div class='custom-header' style='display: block-inline'>Bibliotecas seleccionables</div>",
      //selectionHeader: "<div class='custom-header'>Bibliotecas seleccionadas</div>"
    //});



    $('#id_preguntas-TOTAL_FORMS').val( 1 + {{preguntas|length}} );
    $('#id_criterios-TOTAL_FORMS').val( 1 + {{criterios|length}} );
    $('#id_cadena_de_busqueda').val('{{revision.cadena_de_busqueda}}');

    if( '{{ revision.formulario_generico}}' == 'True'){
        $('#div_val').removeAttr("disabled");
        $('#div_for').addClass("w3-border-green")
     }
  });

  function seleccionarValor(id_select, valor){

    select = document.getElementById(id_select);
    for(i=0; i<select.options.length ; i++){
      if (select.options[i].value == valor)
        select.options[i].selected = true;
    }
  }  

</script>

{% endblock %}