{% load static %}
<html lang="es">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-red.css"> -->
    <!--<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css"> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="{% static 'SoporteRSL/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'SoporteRSL/css/multi-select.css' %}">
    <link rel="stylesheet" href="{% static 'Revisiones/css/iconos.css' %}">
    
    <title>{% block title %}Sistema de soporte para RSL{% endblock %}</title>
</head>
<body onload='AgregarClase()'>
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button" href="{% url 'inicio' %}">Sistema de Soporte para Revisiones Sistematicas de Literatura</a>
        <div class="w3-dropdown-hover w3-right">
            <button class="w3-button w3-large">Usuario   <i class="fa fa-user"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
                <a href="#" class="w3-bar-item w3-button">Perfil</a>
                <a href="#" class="w3-bar-item w3-button">Logout</a>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-large w3-theme-l5 w3-card" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
    <a class="w3-bar-item">Revisiones</a>

    {% for revision in revisiones %}              
        
           <a class="w3-bar-item w3-button w3-hover-light-blue boton-revision" href="{% url 'detalle' revision.pk %}"> > {{ revision.titulo }}</a>
        
    {% endfor %}    

    <a class="w3-bar-item w3-button w3-hover-green" href="{% url 'comenzar-revision' %}">+ Nueva Revision</a>   

    
    <div >
        <a class="w3-bar-item w3-button w3-hover-blue ayuda-btn" href="{% url 'ayuda' %}" >Ayuda</a></div>
        <div id="demoAcc" class="w3-hide w3-theme-l4 ">
            <a href="{% url 'actividad-1' %}"  class="w3-bar-item w3-button w3-hover-light-blue w3-padding-large" id="act1btn">Diseñar Revisión</a>
            <a href="{% url 'actividad-2' %}"  class="w3-bar-item w3-button w3-hover-pale-red w3-padding-large" id="act2btn">Ejecutar Revisión</a>
            <a href="{% url 'actividad-3' %}"  class="w3-bar-item w3-button w3-hover-grey w3-padding-large" id="act3btn">Analizar y Documentar Revisión</a>
    </div>
</nav>


<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-container" id="id_info" style="width:85%">
            {% block content %}{% endblock %}
        </div>
    </div>


</div>
<script src="{% static 'SoporteRSL/js/base.js' %}"></script>
<script src="{% static 'SoporteRSL/js/dropzone.js' %}"></script>
<script src="{% static 'SoporteRSL/js/jquery.multi-select.js' %}"></script>

<script>
    function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-blue";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-blue", "");
    }
    }


</script>

<script>

</script>
</body>
</html>